:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
 
  mat-form-field {
    margin-bottom: 20px;
  }
 
  .button-container {
    display: flex;
    justify-content: space-between;
  }

  button{
    margin-right: 10px;
  }